.notification-bar {
    top: -500px;
    position: relative;
    border: 1px solid #7f9a40;
    background: #9fc150;
    border-radius: 5px;
    padding: 5px;
    border-bottom-width: 2.5px !important;
    font-family: monospace;
    text-align: center;
}

.notification-bar.enabled {
    top: 200px;
}

.notification-barTwo {
    top: 110vh;
    position: relative;
    border: 1px solid #7f9a40;
    background: #9fc150;
    border-radius: 5px;
    padding: 5px;
    border-bottom-width: 2.5px !important;
    font-family: monospace;
    text-align: center;
}

.notification-barTwo.enabled {
    top: 620px;
}

.animatedCSS {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.animate {
    animation:spin 2s linear infinite;
}



@keyframes spin {
    100% {transform: rotate3d(360, 360, 360, 360deg);}
}